@import url(/css/general/style.css) all;


.appbar img{
    width: 3em;
}

.write-up{
    margin-top: 14em;
    font-size: 150%;
}
.small{
    font-weight: 700;
    color: var(--icon-color);
}
.big{
    font-size: 120%;
    font-weight: 1000;
    margin-top: .3em;
    width: 10em;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    width: 10em;
    margin-top: 2em;
}
.links a{
    text-decoration: none;
    padding: .5em 3em;
    border-radius: 2em;
    width: 3em;
    align-self: center;
}
.register{
    color: var(--background);
    background: var(--green);
}
.login{
    border: 1px solid #111;
    color: var(--text);
}
