:root{
    --grey:#e0e0e0;
    --background:#fff;
    --text:#1f1f1f;
    --icon-color:#9f9f9f;
    --article-title:"Raleway variant0", Tofu;
    --green:rgb(47, 160, 108);
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 1.5em 1.5em;
    color: #333;
}
.appbar img{
    width: 3em;
}

.write-up{
    margin-top: 14em;
    font-size: 150%;
}
.small{
    font-weight: 700;
    color: var(--icon-color);
}
.big{
    font-size: 120%;
    font-weight: 1000;
    margin-top: .3em;
    width: 10em;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    width: 10em;
    margin-top: 2em;
}
.links a{
    text-decoration: none;
    padding: .5em 3em;
    border-radius: 2em;
    width: 3em;
    align-self: center;
}
.register{
    color: var(--background);
    background: var(--green);
}
.login{
    border: 1px solid #111;
    color: var(--text);
}
